@model IEnumerable<WeatherDetailsClient.Models.Weather>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.highTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lowTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.forcast)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.highTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lowTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.forcast)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @*@Html.ActionLink("Details", "Details", new { city=item.city})*@ |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
